* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.884);
    font-family: Arial, sans-serif;
}

#sec1 {
    text-align: center;
    padding: 20px;
}

#sec1 h1 {
    color: white;
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

input {
    width: 80%;
    max-width: 500px;
    padding: 0.7rem;
    margin-top: 0.5rem;
    outline: none;
    font-size: 1.1rem;
    border-radius: 6px;
}
input:hover{
    background-color: rgb(150, 216, 216);
}

tbody:hover {
    background-color: rgba(29, 26, 26, 0.322);
color: black;
/* border-color: white; */

}


button {
    padding: 0.7rem 5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 1.3rem;
}

button:hover {
    background-color: bisque;
    cursor: pointer;
}


table {
    margin: 20px auto;
    width: 90%; 
    max-width: 1000px;
    background-color: white;
    border: 2px solid rgb(235, 19, 19);
    text-align: center;
    border-collapse: collapse;
}

table td, th {
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    /* background-color: rgb(208, 241, 241); */
}


@media (max-width: 768px) {
    #sec1 h1 {
        font-size: 2rem;
    }

    input {
        width: 90%; 
        font-size: 1rem;
    }

    table td, th {
        padding: 8px;
        font-size: 0.9rem;
    }
}


@media (max-width: 480px) {
    #sec1 h1 {
        font-size: 1.8rem;
    }

    input {
        width: 95%; 
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }

    table td, th {
        padding: 5px;
        font-size: 0.8rem;
    }
}
